<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Random Cat Facts (PS I Don't Like Cats)</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let fact of facts" data-test="planet-list-item" (click)="selected.emit(fact)">
        <h3 matLine>{{fact.fact}}</h3>
        
        
        <button mat-icon-button (click)="factViewed.emit(fact.fact); $event.stopImmediatePropagation()">
          <mat-icon *ngIf="!readonly">chevron_left</mat-icon>
        </button>


        <button mat-icon-button (click)="deleted.emit(fact); $event.stopImmediatePropagation()">
          <mat-icon *ngIf="!readonly">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
