<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="currentFact.fact; else elseBlock">{{
          originalTitle
        }}</span>
        <ng-template #elseBlock>Create a Cat Fact (And I'm Allergic to Them too)</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form
    [formGroup]="form"
    #formDirective="ngForm"
    (ngSubmit)="save(formDirective)"
  >
    
<mat-card-content>
        <mat-form-field appearance="outline" class="full-width" floatLabel="always">
          <mat-label>Fact</mat-label>
          <input
            matInput
            placeholder="Fact"
            formControlName="fact"
            type="text"
            name="fact"
          />
        </mat-form-field>

        

      




      <section class="full-width">
      </section>

      


    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary">
        {{ originalTitle ? 'Save' : 'Create' }}
      </button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
